/*
sina miniblog install
*/


/* common */
html{color:#000;font-family:Arial, Helvetica, sans-serif,"宋体";font-size:12px;}
body,div,label,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td{margin:0;padding:0;border: 0;outline: 0;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{margin:0;padding:0; font-size:12px; font-family:Arial, Helvetica, sans-serif,"宋体"; outline:none; color:#333}
textarea{resize:none}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
input.labelbox{border:0;}
.clear{clear:both;padding:0;margin:0;}

/* box */
.container{ overflow:hidden; margin:0 auto; width:700px; height:auto !important;text-align:left; border:1px solid #B5CFD9; }
.header{ height:65px; background:url(images/bg_repx.gif) repeat-x; padding:6px 0 0 18px; }
	.header h1{ text-indent:-9999px; width:343px; height:55px; background:url(images/logo.gif) no-repeat; }

.headerUninstall{ height:65px; background:url(images/bg_repx.gif) repeat-x; padding:6px 0 0 18px; }
	.headerUninstall h1{ text-indent:-9999px; width:343px; height:55px; background:url(images/logo2.gif) no-repeat; }

.headerVerify{ height:65px; background:url(images/bg_repx.gif) repeat-x; padding:6px 0 0 18px; }
	.headerVerify h1{ text-indent:-9999px; width:343px; height:55px; background:url(images/logo3.gif) no-repeat; }

.headerModify{ height:65px; background:url(images/bg_repx.gif) repeat-x; padding:6px 0 0 18px; }
	.headerModify h1{ text-indent:-9999px; width:343px; height:55px; background:url(images/logo4.gif) no-repeat; }

.main{ padding:20px 20px 0; background:#F7FBFE url(images/bg_repx.gif) repeat-x 0 -194px; }
	.main h3{ text-align:center; color:#5c8fa4; font-size:14px; margin:10px 0;}
.main .mainTxt{ width:400px; min-height:250px; _height:250px; margin-left:160px; display:inline; float:left;position:relative;}
.main .mainTxt .txticon{ position:absolute; left:-60px; top:0; }
.main .mainTxt .title{color:#5c8fa4; font-size:14px; margin:10px 0 20px 0; font-weight:bold;}
.main .mainTxt .title1{ margin:10px 0 20px 85px;}
.main .mainTxt .con{ line-height:1.8em;}
.main .mainTxt .con .radio{ vertical-align:-2px;_vertical-align:-1px; margin-bottom:10px;}
.main .mainTxt .con .note{ color:#999; line-height:1.7em;}
.main .mainTxt .con .input{ border:1px solid; border-color:#999 #ccc #ccc #999; height:25px; width:260px; vertical-align:4px;*vertical-align:-8px;}
.main .mainTxt .con .url{ margin:20px 0;}
.main .mainTxt .con .link{ color:#999;}
.main .mainTxt .con .link a{ font-family:"宋体"; color:#2397d2;}
.main .mainTxt .con .list{ position:absolute;}
.main .mainTxt .con .list li{ clear:both; overflow:hidden; padding:5px 0; }
.main .mainTxt .con .list .th{ float:left; width:75px; color:#333; text-align:right; margin-right:10px; }
.main .mainTxt .con .list .td{ float:left; }
.main .mainTxt .con .input_s{ border:1px solid; border-color:#999 #ccc #ccc #999; height:18px; padding-top:4px; padding-left:2px;width:298px;}
.main .mainTxt .con .tips{ margin:3px 0 5px 85px; width:340px; color:#999; line-height:18px;}
.main .mainTxt .con li div{ overflow:hidden;}

.red{color:#f00;}

.license{ margin-bottom:15px; padding:10px; height:230px; border:1px solid #999; background:#fffef0; overflow:scroll; overflow-x:hidden; }
	.license h1{ padding-bottom:10px; font-size:14px; text-align:center; }
	.license h3{ margin:0; color:#666; }
	.license p{ line-height:150%; margin:10px 0; text-indent:25px; }
	.license li{ line-height:150%; margin:5px 0; }

.btnbox{ text-align:center; margin:20px 0;}
	a.btn{background:url(images/btn.gif) repeat-x; width:90px; height:30px; line-height:30px; text-align:center; display:inline-block; cursor:pointer; color:#333; font-family:"宋体"; text-decoration:none; margin:3px;}
	a.dis{color:#999;}

.footer{ line-height:40px; text-align:center; background:url(images/bg_footer.gif) repeat-x; font-size:11px; }


.desc{ margin:0 auto; width:82.6%; line-height:180%; }
	.desc ul{ margin-left:20px; }
	


