</div>
<!--{if $_G['gp_mod'] != 'app'}-->
	<div id="footer">
		<!--{if $_G['gp_mod'] == 'developer'}-->
			<p class="mbn">
				<a href="http://t.qq.com/discuzaddon" target="_blank" class="dmb">Discuz!应用中心官方微博</a>
				<span class="pipe">|</span>
				<a href="{$_G[siteurl]}?!agreement" target="_blank">服务协议</a>
				<span class="pipe">|</span>
				<a href="http://dev.discuz.org/wiki/" target="_blank">Discuz! 技术文库</a>
			</p>
		<!--{/if}-->
		<p>Copyright &copy; 2001-{echo date('Y');} <a href="http://www.comsenz.com" target="_blank">Comsenz Inc.</a></p>
	</div>
<!--{/if}-->
</body>
</html>
{eval output();}