@charset "utf-8";
/* CSS Document */
.n_blueBox{width:492px; margin:15px auto;}
.n_blueBox .top{height:3px; background:url(shareimg/blueboxbg.gif) top; overflow:hidden;}
.n_blueBox .bot{height:3px; _height:2px; background:url(shareimg/blueboxbg.gif) bottom; overflow:hidden;}
.n_blueBox .mid{border-left:1px solid #d9eaf8;border-right:1px solid #d9eaf8; background:#eaf3fa; padding:10px 10px 10px 20px; line-height:20px;color:#2679bb;font-size:14px;}

.formBox{width:320px; margin:0 auto;}
.n_inpbg{ background:url(shareimg/inputbg.gif) left; height:25px; padding-left:5px;}
.n_inpbg2{ background:url(shareimg/inputbg.gif) right; height:25px; padding-right:3px; max-width:305}

.formBox .inputBox{clear:both;}
.formBox .inputBox input.inpType{ width:305px; padding-top:5px; line-height:16px; border:0; background:none;}
.formBox .tit{width:320px; line-height:20px; overflow:hidden; margin:15px 0 5px;}
.formBox .tit em{float:left; color:#2679bb;font-size:14px;}
.formBox .tit span{float:right; color:#999;}
.formBox .inputBox select{ width:144px; border:none;  margin-top:2px; height:20px; border-color:#fff;}
.formBox .inputBox  td.td_w{ padding-left:10px;}

.formBox .inputBox label.male{ display:inline-block; height:60px;width:60px; background:url(shareimg/man.gif) left;}
.formBox .inputBox label.female{ display:inline-block; height:60px;width:60px; background:url(shareimg/man.gif) right; margin-left:10px;}
.formBox .inputBox .txt{ margin-top:5px;}
.formBox .inputBox .txt span{ margin-right:30px; margin-left:10px;}
.n_btn{ margin-top:30px; text-align:left; margin-left:120px;}


.n_login_sc{width:260px; margin:30px auto 40px;}
.n_login_sc h2{font-weight:bold;font-size:20px; font-family:"微软雅黑"; margin:10px auto;}
.n_login_sc p{ line-height:20px;}
.n_login_sc .btn{ margin-top:30px; text-align:center;}
.n_txtBox{ margin-top:25px; color:#666; line-height:20px;}
.n_txtBox h2{font-size:14px;font-weight:bold; margin-bottom:3px;}

.n_login_sc2{width:260px; margin:50px auto 60px;}
.n_login_sc2 h2{font-weight:bold;font-size:20px; font-family:"微软雅黑"; margin:10px auto; text-align:center;}
.n_login_sc2 p{ line-height:20px; text-align:center;}
.n_login_sc2 .btn{ margin-top:30px; text-align:center;}



.inputnormal,.inputhover{background:url(shareimg/textbg.png) no-repeat 0 -41px; width:321px; height:35px; padding:3px; float:left; margin-right:6px;}
.inputhover{background:url(shareimg/textbg.png) no-repeat 0 0; width:321px; height:35px; padding:3px;}
.inputnormal .textinp,.inputhover .textinp{ border:none;font-size:14px; color:#000; margin:5px 0 0 5px;height:29px;line-height:28px; background:#FFF; width:306px;}
.inputhover .textinp{background:url(shareimg/textbg.png) -10px -10px no-repeat;}
.nob{ border:none 0;}
.pwdques{ width:300px;}


.n_ktbox{ clear:both; padding-left:60px;}
.selftable{  margin:0 auto;}
.selftable dt,.selftable dd{ overflow:hidden; position:relative; width:auto; zoom:1;}
.selftable dt { height:28px; line-height:28px; padding-top:10px; width:290px;}
.selftable dt em{ color:#2679bb; font-size:14px; float:left; text-indent:4px;}
.selftable dt span{ float:right; color:#999;}
.selftable .isboy strong,
.selftable .isgirl strong,
.selftable .boy strong,
.selftable .girl strong{padding-top:3px; padding-top:0px\9; clear:both; display:block;}
.selftable .isboy .labelbox,
.selftable .isgirl .labelbox,
.selftable .boy .labelbox,
.selftable .girl .labelbox{ vertical-align:middle; margin-right:2px;margin-right:1px\9;}
.selftable .loadtip{ clear:left; padding-left:3px; color:#999; line-height:20px;}
.recommend_name{padding:4px 0 0 4px; min-height:20px; _height:20px; _overflow:visible; position:relative; float:left; width:500px; position:relative;}
.recommend_name h4.erroRed{ padding-bottom:7px; color:#999;}
.recommend_name ul{ width:300px;}
.recommend_name li{ padding:0 0 5px; color:#999; float:left; width:144px; height:18px;}
.recommend_name li input{ vertical-align:middle; margin-right:2px; border:0}
.recommend_name .loading{ height:100%; position:absolute; left:0; top:0; width:400px; background:#fff url(shareimg/loading.gif) no-repeat 100px center; filter: Alpha(opacity=80);-moz-opacity:.8;opacity:0.8; }
.recommend_name .lastLi{ position:absolute; right:110px; bottom:7px}
.recommend_name .lastLi a{ text-decoration:underline}
.boy,.girl,.isboy,.isgirl{ float:left; width:62px; margin-right:10px; text-align:center;}
.boy span,.girl span,.isboy span,.isgirl span{ width:62px; height:60px; background:url(shareimg/boygirl.png) no-repeat 0 0; display:block; float:left; cursor:pointer;}
.girl span{ background:url(shareimg/boygirl.png) no-repeat -62px 0;}
.isboy span{ background-position:0 -60px;}
.isgirl span{background-position:-62px -60px;}


/* 新结构 */
.inputhover{background:url(shareimg/textbg.png) no-repeat 0 -41px; width:320px; height:35px; padding:3px; float:left; margin-right:6px;}
.inputnormal{background:url(shareimg/textbg2.png) no-repeat 0 -41px; width:290px; height:35px; padding:3px; float:left; margin-right:6px;}
.inputnormal .textinp{border:none;font-size:14px; color:#000; margin:5px 0 0 5px;height:20px;line-height:20px; background:#FFF; width:280px;}
.inputhover{background:url(shareimg/textbg2.png) no-repeat 0 0; width:321px; height:35px; padding:3px;}
.inputhover .textinp{ border:none;font-size:14px; color:#000; margin:5px 0 0 5px;height:20px;line-height:20px; background:#FFF; width:290px;}
.inputhover .textinp{ background:none;}
.nob{ border:none 0;}
.pwdques{ width:300px;}

.plus_mailname{ float:left; line-height:33px; font-size:16px; font-weight:bold; width:96px; margin-right:10px;}

.fakesel,.fakeselhover{ background:url(shareimg/textbg.png) left -41px no-repeat; padding-left:10px; float:left; margin-right:10px;}
.fakesel strong,.fakeselhover strong{ background:url(shareimg/textbg.png) right -41px; no-repeat; padding:0px 13px 3px 3px; height:27px; float:left;}
.fakesel select,.fakeselhover select{ margin-top:8px ; font-size:14px;}
.fakeselhover{ background:url(shareimg/textbg.png) left 0 no-repeat;}
.fakeselhover strong{ background:url(shareimg/textbg.png) right 0 no-repeat }

.stepbg2 .jh_yanzheng,.stepbg2 .jh_yanzhenghover,
.stepbg .jh_yanzheng,.stepbg .jh_yanzhenghover{ background:url(shareimg/textbg.png) left -41px no-repeat; padding-left:5px; float:left;}
.stepbg2 .jh_yanzhenghover,.stepbg .jh_yanzhenghover{ background:url(shareimg/textbg.png) left 0 no-repeat; }
.stepbg2 .jh_yanzheng strong,.stepbg .jh_yanzheng strong,
.stepbg2 .jh_yanzhenghover strong,.stepbg .jh_yanzhenghover strong
{ background:url(shareimg/textbg.png) right -41px no-repeat;padding:3px 5px 3px 3px; height:27px; float:left;}
.stepbg2 .jh_yanzhenghover strong,.stepbg .jh_yanzhenghover strong{ background:url(shareimg/textbg.png) right 0 no-repeat;}
.stepbg2 .jh_yanzheng .textinp,.stepbg .jh_yanzheng .textinp,
.stepbg2 .jh_yanzhenghover .textinp,.stepbg .jh_yanzhenghover .textinp{ border:none;font-size:14px; color:#000; margin:4px 0 0 0;height:20px;line-height:20px; background:#FFF; width:61px;}

.stepbg2 .jh_yanzhimg{ float:left;width:180px; float:left;}
.stepbg2 .jh_tongy{ text-align:center; padding:7px 0 140px; height:60px; margin:0 0 0 280px; position:relative;}
.stepbg2 .jh_tongy .errormt{ left:260px;}
.stepbg2 .jh_tongy .lf{ margin-top:14px;}
.stepbg2 .jh_tongy input{ margin:0 5px 0 20px; vertical-align:text-bottom}

.errormt{ background:url(shareimg/erbg.png) no-repeat left; height:27px; line-height:27px; color:#cc0000; padding-left:10px; float:left;position:absolute; top:3px;left:310px;}
.errormt strong{ background:url(shareimg/erbg.png) no-repeat right; float:left; height:27px; padding-right:10px;}
.errormt strong span{ padding-left:20px; background:url(shareimg/no.png) left center no-repeat; float:left;  white-space:nowrap}
.success{ float:left; position:absolute; top:2px;left:305px;}
.success img{ margin-top:11px;}
.stepbg2 .jh_yanzheng .textinp, .stepbg .jh_yanzheng .textinp, .stepbg2 .jh_yanzhenghover .textinp, .stepbg .jh_yanzhenghover .textinp{ background:none;}

.stepbg2 .padding_less{ padding:0 0 40px 0;}
.stepbg2 .padding_less2{ padding:0 0 10px; height:40px; margin:-20px 0 0 224px}

.new_construct{ margin-top:30px;}
.new_construct .new_item{ height:46px; overflow:hidden;}
.new_construct .new_item .tit{ font-size:14px; color:#5c9bcc; width:100px; line-height:34px; height:41px; float:left; text-align:right; }
.new_construct .new_item .bdmain{ float:left; padding-left:6px; width:200px;}
.new_construct .new_item .bdmain input{ font-size:18px;}
.new_construct .new_item .bdmain .lf{ line-height:20px;}
.new_construct .new_item .bdmain .lf .agreement{ line-height:20px; padding-left:14px;}
.new_construct .new_item .bdmain .labelbox{ vertical-align:middle; margin:0 3px;}
.new_construct .new_item .bdmain .plus_mailname,
.new_construct .new_item .bdmain .mention,
.new_construct .new_item .bdmain .jh_yanzheng{ margin:0;}
.new_construct .new_item .bdmain .jh_yanzheng,
.new_construct .new_item .new_plus{ float:left;}
.new_construct .new_item .bdmain .jh_yanzhimg{ width:160px; display:inline;}
.new_construct .new_item .bdmain .pwdques{ width:178px;}
.new_construct .mb10{ margin-bottom:10px; height:50px;}
.new_construct .new_item .new_plus .errormt{ position:static; margin-top:3px;}
.new_construct .new_item .new_plus .success{ position:static;}
.new_construct .new_item .new_plus .plus_a{ line-height:33px;}

.new_plus .mentip{ width:189px; margin-top:4px; line-height:18px;}
.new_plus .mentip .maincent{ color:#686868; border-width:0 1px 0 1px; border-color:#ECECD5; border-style:solid; background:#FFFCEB; padding:6px 8px 7px;}
.new_plus .mentip .tpbg,
.new_plus .mentip .btbg{ width:189px; height:5px; background:url(shareimg/mentip.png) no-repeat top; font-size:0;}
.new_plus .mentip .btbg{ background-position:bottom;}

.tipicon {background:url("shareimg/tipicon.png") no-repeat;_background:url("shareimg/tipicon.gif") no-repeat;height:16px;overflow:hidden;width:16px;}
.tip3 {background-position:0 -33px;}

.stepbg2 .btn{ margin:20px auto 30px; text-align:left; padding-left:105px;}
.new_plus{ margin-left:10px;}