@charset "utf-8";
@import"n_share.css";
body{background:#a4e2eb url(shareimg/bg_body.jpg) 0 0 repeat-x;}
.reg_wrap{position:relative; width:570px; margin:0 auto;}
/* 小图标 */
.wbIcon {background:url('shareimg/ico_msgpic.gif') no-repeat 0 0;overflow:hidden;}
.iconMsg{width:26px; height:23px; background-position:0 0;}
.iconImg{width:16px; height:16px; background-position:-25px 0;}
.iconVideo{width:13px; height:13px; background-position:-41px 0;}
.iconWarn{background:url('shareimg/tipicon.gif') no-repeat -1px -65px;overflow:hidden;}
.iconvip, .iconman, .iconwoman{background:url('shareimg/icon.gif') no-repeat 0 0;overflow:hidden;}
.iconvip{background-position:-40px 0;}
.iconman{background-position:-80px 0;}
.iconwoman{background-position:-60px 0;}
/* 立即注册按钮 */
.btn_regnow{display:block; width:145px; height:39px; background:url(shareimg/btn_regnow.gif) 0 0 no-repeat; overflow:hidden;}

/* 顶部LOGO */
.reg_wrap .TopName{position:relative; height:70px;}
.TopName .logo,.logo{background:url('shareimg/logo.png') no-repeat; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://tjs.sjs.sinajs.cn/platformstyle/images/common/logo.png', sizingMethod='crop');}
	.TopName .logo,.logo,.TopName .logoLink{position:absolute;left:9px;bottom:1px;height:63px;width:148px;z-index:5;}
	.TopName .logoLink{cursor:pointer;z-index:9;}
	.TopName .op{position:absolute; right:0; bottom:10px; _bottom:8px;}
	.TopName .op span{float:left; font-family:"宋体";}
	.TopName .op span.line{margin:0 6px; margin-top:1px; margin-top:2px \9; color:#999;}
	.TopName .op span a{display:inline-block; margin-top:1px; margin-top:2px \9;}
	.TopName .op span .userID{display:inline; margin-top:0; font-family:verdana; font-weight:bold;}
	.TopName .op .noLogin{ color:#999; padding-right:10px;}
	.TopName .op .noLogin a{ margin-left:3px;}
/* 主体 */
.reg_wrap .reg_main{position:relative; width:100%; padding-bottom:34px; background:url(shareimg/bg_main.jpg) 0 0 repeat-y; overflow:hidden}
	.reg_wrap .reg_main .bg_regTop{position:absolute; left:0; top:0; display:block; width:100%; height:154px; background:url(shareimg/bg_main_t.jpg) no-repeat; overflow:hidden;}
	.reg_wrap .reg_main .bg_regBot{position:absolute; left:0; bottom:-1px; display:block; width:100%; height:14px; background:url(shareimg/bg_main_b.jpg) no-repeat; overflow:hidden;}
	/* 背景底纹 */
	.bg_deco_b{position:absolute; left:5px; top:11px; display:block; width:560px; height:190px; background:url(shareimg/bg_deco_b.gif) no-repeat; overflow:hidden; z-index:2}
	.bg_deco_m{position:absolute; right:5px; top:11px; display:block; width:368px; height:176px; background:url(shareimg/bg_deco_m.gif) no-repeat; overflow:hidden; z-index:2}
	.bg_deco_m2{position:absolute; right:5px; top:11px; display:block; width:339px; height:135px; background:url(shareimg/bg_deco_m2.gif) no-repeat; overflow:hidden; z-index:2}
	.bg_deco_s{position:absolute; right:5px; top:5px; display:block; width:204px; height:152px; background:url(shareimg/bg_deco_s.gif) no-repeat; overflow:hidden; z-index:2}

	.reg_wrap .reg_main .reg_pub{position:relative; margin:23px 36px 0 39px; z-index:3}
	.reg_wrap .reg_pub .notice{width:100%; margin:0 0 6px; padding-top:4px; overflow:hidden;}
	.reg_wrap .reg_pub .notice h2{float:left; padding-top:1px; color:#669900; font-size:14px;}
	.reg_wrap .reg_pub .notice h2 img{margin:0 7px 0 8px; vertical-align:-6px;}
	.reg_wrap .reg_pub .notice span{float:right; margin-top:-12px;}
	.reg_wrap .reg_pub .notice span.red,.reg_wrap .reg_pub .notice span.red em{color:#CC0000}
	
	.reg_wrap .reg_pub .notice span em{margin-right:4px; color:#333; font-family:Constantia,Georgia; font-size:30px; font-weight:bold}
	.reg_wrap .reg_pub .inputTxt{margin-right:3px; border:1px solid #aac8e4;}
	.reg_wrap .reg_pub .inputTxt textarea{word-wrap:break-word;word-break:break-all;width:477px; height:98px; *margin:-1px 0; padding:9px 0 0 12px; border:1px solid #dadde1; border-right:none; border-bottom-color:#aac8e4; color:#333; font-size:14px; overflow-y:auto;}
	.reg_wrap .reg_pub .inputTxt dl{_position:relative; width:100%; overflow:hidden;}
	.reg_wrap .reg_pub .inputTxt dt{height:26px; background:#deedf9; line-height:26px;}
	.reg_wrap .reg_pub .inputTxt dt img{display:inline-block; margin:4px 5px -2px 7px; *margin-top:0; _margin-top:4px;}
	.reg_wrap .reg_pub .inputTxt dt a.noLink:hover{color:#0082CB; text-decoration:none; cursor:default;}
	.reg_wrap .reg_pub .inputTxt dd{padding:0 7px 0 5px; border-top:1px solid #aac8e4; background:#e6f8f9;}
	.reg_wrap .reg_pub .inputTxt dd .picList{width:100%; padding-top:4px; overflow:hidden;}
	.reg_wrap .reg_pub .inputTxt dd .picList p.nopic{padding:53px 0 31px 0; *padding-bottom:30px; font-size:14px; text-align:center;}
	.reg_wrap .reg_pub .inputTxt dd .picList p.nopic img.iconWarn{vertical-align:-2px;}
	.reg_wrap .reg_pub .inputTxt dd .picList p.dtadd{padding:0 0 10px 3px;}
	.reg_wrap .reg_pub .inputTxt dd ul{width:10000px; height:100px; margin-left:2px;}
	.reg_wrap .reg_pub .inputTxt dd li{_display:inline; float:left; margin:4px 6px 0 0;}
	.reg_wrap .reg_pub .inputTxt dd li a{*float:left; display:table-cell; width:88px; height:90px; height:88px \9; border:1px solid #cae2f6; line-height:88px; text-align:center; background:#fff; vertical-align:middle; outline:none}
	.reg_wrap .reg_pub .inputTxt dd li a em{display:inline-block; width:88px; *height:88px; *margin-top:-1px; overflow:hidden; cursor:hand; *font-size:90px;}
	.reg_wrap .reg_pub .inputTxt dd li a img.pic{max-width:88px; max-height:88px; width:expression(this.width >88 && this.height < this.width ? 88: true); height:expression(this.height > 88 ? 88: true); *vertical-align:middle;}
	.reg_wrap .reg_pub .inputTxt dd li a img.ico_slt{position:absolute; right:6px; bottom:7px; width:18px; height:18px; background:url(shareimg/ico_slted.gif) no-repeat; visibility:hidden}
	.reg_wrap .reg_pub .inputTxt dd li.on{position:relative; margin:1px 2px 0 -4px;}
	.reg_wrap .reg_pub .inputTxt dd li.on a{border:none; width:98px; height:98px; background:url(shareimg/bg_picSlted.gif) no-repeat; line-height:98px;}
	.reg_wrap .reg_pub .inputTxt dd li.on em{margin-top:-2px; *margin-top:4px; *font-size:88px;}
	.reg_wrap .reg_pub .inputTxt dd li.on a img.ico_slt{visibility:visible;}
	.reg_wrap .reg_pub .inputTxt dd .videoList{padding:20px 0 36px; *padding-bottom:35px; text-align:center;}
	.reg_wrap .reg_pub .inputTxt dd .videoList span{position:relative; display:inline-block; height:80px; padding:2px; background:url(shareimg/bg_videoSlted.gif); overflow:hidden}
	.reg_wrap .reg_pub .inputTxt dd .videoList span em{position:absolute; left:48px; top:27px; opacity:0.5;}
	.reg_wrap .reg_pub .inputTxt dd .videoList span img.ico_slt{position:absolute; right:6px; bottom:7px; width:18px; height:18px; background:url(shareimg/ico_slted.gif) no-repeat;}
	.reg_wrap .reg_pub .pageNum{width:100%; padding:15px 0 10px; overflow:hidden;}
	.reg_wrap .reg_pub .pageNum a.cancel{float:left;}
	.reg_wrap .reg_pub .pageNum span{float:right;}
	.reg_wrap .reg_pub .pageNum span a{float:left; font-family:"宋体";}
	.reg_wrap .reg_pub .pageNum span strong{float:left; margin:0 12px; color:#666;  font-family:"宋体"; font-weight:bold; vertical-align:top}
	.reg_wrap .reg_pub .submit{width:100%; margin-right:3px; padding:8px 0 0; overflow:hidden;}
	.reg_wrap .reg_pub .submit p{float:left;}
	.reg_wrap .reg_pub .submit .btn_turn{float:right;}
	.reg_wrap .attention{margin:-10px 15px 0 15px; padding-bottom:10px;}
	.reg_wrap .attention h4{padding:0 0 3px 4px; border-bottom:1px solid #dbdbdb; color:#666; font-weight:bold;}
	.reg_wrap .attention dl{width:100%; margin:20px 0 0 0; overflow:hidden;}
	.reg_wrap .attention dt{float:left; padding:0 10px;}
	.reg_wrap .attention dt img{padding:2px; border:1px solid #cbcdcc;}
	.reg_wrap .attention dd{float:left;}
	.reg_wrap .attention dd.info{width:280px;}
	.reg_wrap .attention dd.ship{width:100px; padding:17px 0 0; text-align:right;}
	.reg_wrap .attention dd p{margin-top:6px; color:#777}
	.reg_wrap .attention p.adr span{margin-left:10px;}
	
	
/* 登录界面 */
.reg_wrap .pdb3{padding-bottom:1px; *padding-bottom:2px;}
.reg_wrap .reg_left{position:relative; _display:inline; float:left; width:166px; height:384px; margin:4px 0 0 4px; background:url(shareimg/bg_regLeft.jpg) no-repeat; z-index:3}
	.reg_wrap .reg_left p{width:146px; margin:107px 0 0 12px; text-align:center}
	.reg_wrap .reg_left p a{margin-bottom:5px;}
.reg_wrap .reg_main .reg_rt{float:left; width:365px; margin:14px 0 0 16px;}
	.reg_wrap .reg_rt .inputTxt textarea{width:347px; height:60px;}
	.reg_wrap .reg_rt .inputTxt dd{padding:0 12px;}
	.reg_wrap .reg_rt .inputTxt dd li{margin-right:23px;}
	.reg_wrap .reg_rt .inputTxt dd li.on{margin:1px 19px 0 -4px; margin-top:0 \9; *margin-top:1px}
	@-moz-document url-prefix()
	{
		.reg_wrap .reg_rt .inputTxt dd li.on{margin-top:0;}
	}
	.reg_wrap .reg_rt .inputTxt dd ul{margin-left:9px;}
	.reg_wrap .reg_rt .pageNum{padding-top:11px;}
	.reg_wrap .login{float:left; margin:5px 0 0;}
	.reg_wrap .login li{margin-bottom:8px; *margin-bottom:5px; text-align:right; color:#666;}
	.reg_wrap .login strong{position:relative; top:4px; *top:-1px; display:inline-block; width:50px; font-size:14px; text-align:left;}
	.reg_wrap .login input.txt{width:156px; height:20px; padding-top:3px; border:1px solid #ddd;}
	.reg_wrap .login input.chk{margin-right:7px; *margin-right:4px; vertical-align:-2px; _vertical-align:0px}
	.reg_wrap .login label{margin:0 19px 0 0;}