@charset "utf-8";
/*
	维护者：马泽声
	文档作用：定义Xweibo的Discuz x1.5插件后台管理样式
*/
/* reset*/
body, p, span, ul, li h2, h3, h4, h5, form, input, textarea, label{ margin:0; padding:0;}
body{ font:12px/18px Tahoma, Geneva, sans-serif; color:#333;}
img{border:0;}
ul,li{list-style-type:none;}
em{ font-style:normal;}
a:link{color:#0082cb;text-decoration:none;}
a:visited{color:#0082cb;text-decoration:none;}
a:hover{color:#0082cb;text-decoration:underline;}
a:active{color:#0082cb;text-decoration:none;}
.hidden{ display:none!important;}

/*导入图片*/
.color-slt em, .add-float-content .tip-success div, .addfollow-btn, .addfollow-btn:hover, .already-addfollow-btn{background:url(bgimg/all_bg.png) no-repeat;}
.result-line{ background:url(bgimg/line.png) top repeat-x;}
.set-wrap ul li, .con-wrap{ background:url(bgimg/line.png) bottom repeat-x;}
.common-tab, .curren, .pop-btn, .pop-btn span, .general-btn, .general-btn span, .binding-btn, .binding-btn span{ background:url(bgimg/tab_1.png) no-repeat;}

/*公共模块部分*/
.wrap-inner{ margin-bottom:20px;}
.main-title{ padding-left:10px; border-bottom:#DEEFFB 1px solid; height:28px; line-height:28px; color:#0099CC; font-size:12px; background:#F2F8FD;}
.main-title span{ color:#999; font-weight:normal;}
.set-wrap{ padding:15px 10px; background:#fff;}
.input-box{padding:3px; border:solid 1px; border-color:#9e9e9e #e2e2e2 #e2e2e2 #9e9e9e; font-size:12px; vertical-align:middle;}
.chk{ margin-right:3px; vertical-align:middle;}

/*搜索及保存设置按钮*/
.conmon-btn{ padding:0 8px; border-style:solid; border-width:0 1px 1px 0; border-color: #ddd #666 #666 #ddd; height:26px; line-height:26px; background:#ddd; vertical-align:middle; cursor:pointer;}
.conmon-btn:hover{ background:#ccc;}
/*关注按钮*/
.addfollow-btn{ display:inline-block; width:58px; height:21px; background-position:-151px -10px;}
.addfollow-btn:hover{ background-position:-151px -41px;}
.already-addfollow-btn{ display:inline-block; width:58px; height:21px; background-position:-151px -72px; cursor:text;}
/*绑定微博按钮及开启评论回流按钮*/
a.binding-btn{display:inline-block; height:34px; line-height:34px; background-position:right -212px;}

a.binding-btn span{display:inline-block; padding:0 20px; height:34px; background-position:left -246px;}
a.binding-w, a.back-on{ margin-right:10px; color:#333; font-size:14px; font-weight:700; text-decoration:none;}
a.back-on:visited{ color:#333; text-decoration:none;}
a.back-off{ color:#999; font-size:14px; font-weight:700; text-decoration:none; cursor:text;}
a.back-off:visited{ color:#999; text-decoration:none;}

/*tab导航*/
.tab-t1{ margin-bottom:20px;}
a.curren{display:inline-block; height:20px; line-height:20px; background-position:right 0; color:#FFF;}
a.curren:visited{ color:#FFF;}
.tab-t1 .common-tab{ display:inline-block; padding:0 8px; height:20px; background-position:left -20px; cursor:pointer;}
.tab-t1 a{ margin-right:20px; font-weight:bold; text-decoration:none;}

/*官方账户设置*/
#accounts_set .serch-results{ margin-top:10px; padding:0 10px; border:#f6ead2 1px solid; background:#fffcf4;}
#accounts_set .part-s1{ overflow:hidden; _zoom:1;}
#accounts_set .part-s1 .set-con{ float:right; margin:20px 40px 0 0;}
#accounts_set .serch-results .results-name{ color:#00F; font-weight:bold;}
#accounts_set .serch-results .it-this{ display:inline; float:right; margin-right:30px;}
#accounts_set .serch-results span{ margin-right:30px;}
#accounts_set .serch-results .result-line, #accounts_set .serch-results .result-line-no{ padding:10px 0;}
#accounts_set .sle{ margin-top:10px;}
#accounts_set .sle .user-pic{ float:left; margin-right:8px; padding:1px; border:#C1C9CF 1px solid; width:50px; height:50px;}
#accounts_set .sle .info{ padding-top:5px;}
#accounts_set .sle .name{ margin-right:30px;}
#accounts_set .sle .link{margin-top:10px; }

/*微博应用设置*/
#app_set .set-s1, #app_set .set-s3, #app_set .set-s2{ margin:10px 0 0 10px;}
#app_set .set-s1 .code-box{ margin:10px 20px; padding:20px 30px; border-style:solid; border-width:1px; border-color:#E4E4E4; background:#f7f7f7;}
#app_set .set-s1 .code-box .login-btn{ margin-bottom:10px;}
#app_set .set-s1 .code-box .login-btn img{ margin-right:10px; width:126px; height:24px; vertical-align:middle;}
#app_set .set-s1 .code-box .code-t{ table-layout:fixed; border-collapse:collapse; }
#app_set .set-s1 .code-box .code-t th{ padding:10px; border-style:solid; border-width:1px; border-color:#E4E4E4; background:#fff; font-weight:normal;}
#app_set .set-s1 .code-box .code-left{ width:110px;}
#app_set .set-s1 .code-box .code-left a.copy-code{ display:block; margin:10px auto 0 auto; width:60px; height:25px; color:#333;}
#app_set .set-s1 .code-box .code-right{ text-align:left;}
#app_set .set-s2 .conmon{ padding:6px 0;}
.panel{ margin:10px 0 0 15px; overflow:hidden; _zoom:1;}
.panel .panel-l{ float:left; margin-right:30px; border:#e4e4e4 1px solid; width:280px;}
.panel .panel-l .wbx-set{ padding-left:10px; height:26px; line-height:26px; background:#F0F0F0; font-size:12px;}
.panel .panel-l .inner{ padding:15px;}
.panel .con-wrap{ margin-bottom:10px; padding-bottom:10px;}
.panel .con-wrap h4{ margin-bottom:10px; font-size:12px; font-weight:bold;}
.panel .con-wrap .con-edge{ margin-right:20px; line-height:28px;}
.panel .con-wrap span input{ margin:0 5px;}
.panel .panel-l .con-wrap p{ margin-top:5px; color:#afafaf;}
.panel .panel-l .con-wrap .size-w{ width:45px;}
.color-slt{ margin-top:10px; overflow:hidden; _zoom:1;}
.color-slt a{ float:left; margin:2px 12px 7px 2px; padding:1px; border:#c6c6c6 1px solid; width:30px; height:30px;}
.color-slt a.on{ margin:0 11px 5px 0; border:#a8de86 2px solid;}
.color-slt a.on em{ display:block;}
.color-slt a span{ display:block; position:relative; width:30px; height:30px;}
.color-slt em{ display:none; position:absolute; right:0; bottom:0; background-position:-10px -52px; width:12px; height:12px; _bottom:-2px;}
.color-slt .color01{ background:#bce7ed;}
.color-slt .color02{ background:#c8c8c8;}
.color-slt .color03{ background:#bde493;}
.color-slt .color04{ background:#ffcbb6;}
.color-slt .color05{ background:#ffffff;}
#app_set .set-s3 p{ margin-bottom:8px; font-weight:bold;}
#app_set .set-s3 .box-w1{ margin-right:5px; width:50px;}
#app_set .set-s3 .set-s3-one{ margin-bottom:10px; padding-bottom:10px; border-bottom:#E4E4E4 1px solid;}
#app_set .set-s3 .reset-mar{ margin-bottom:0;}
#app_set .warning{ color:#CC0000;}
#app_set .wrap-inner .set-s1 p{margin-bottom:10px;}

/*微博同步设置*/
.set-wrap ul{ padding-left:10px;}
.set-wrap ul li{ padding:15px 0;}
.set-wrap ul li p{ margin-bottom:15px;}
.set-wrap ul li label{ margin-right:30px;}
#synch_set ul li span{ color:#999;}
.btn{ margin:30px 0 0 10px;}

/*微博评论回流*/
#comment_back.push-div-height{ height:361px; }
#comment_back .wrap-inner ul li .tips{ color:#999;}
#comment_back .wrap-inner ul li .errTips{ color:#ff0000;}

/*浮层*/
.pop-win{ z-index:10008;}
.win-w{margin:-120px 0 0 -190px; width:280px;}
.fixed-pop{ position:fixed; top:50%; left:50%; }
*html{ background-attachment:fixed; background-image:url('about:blank');}
*html .fixed-pop{ position:absolute; bottom:auto; top:expression(documentElement.scrollTop + (documentElement.clientHeight/2 - this.clientHeight/2));  margin-top:0;}
.pop-win .pop-t, .pop-win .pop-t div, .pop-b, .pop-b div{ background:url(bgimg/win_bg.png) no-repeat; _font-size:0; }
.pop-win .pop-t, .pop-win .pop-b, .pop-win .pop-m .pop-inner-bg{ filter:alpha(opacity=30); opacity:0.3;}
.pop-win .pop-t{ height:5px; background-position:left 0;}
.pop-win .pop-t div{ margin-left:6px; height:5px; background-position:right -5px;}
.pop-win .pop-b{ height:5px; background-position:left -10px;}
.pop-win .pop-b div{ margin-left:6px; height:5px; background-position:right -15px;}
.pop-win .pop-m{ position:relative; overflow:hidden; _zoom:1;}
.pop-win .pop-inner{ margin:0 6px;}
.pop-win .pop-m .pop-inner-bg{ position:absolute; top:0; left:0; width:100%; height:100%; _height:600px; background:#000; z-index:-1;}
.pop-win .pop-inner h4{ padding-left:10px; height:30px; line-height:30px; -moz-border-radius:3px 3px 0 0; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; border:solid #b0d1ef; border-width:1px 1px 0; font-size:12px; background:#eaf3fa;}
.pop-win .pop-inner .add-float-content{ padding:20px; -moz-border-radius:0 0 3px 3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px; border:solid #b0d1ef; border-width:0 1px 1px; background:#FFF; overflow:hidden;}
.pop-win .pop-inner .add-float-content .tip-success{ overflow:hidden; _zoom:1;}
.pop-win .pop-inner .add-float-content .tip-success .success{ float:left; margin-right:10px; width:41px; height:41px; background-position:0 0;}
.pop-win .pop-inner .add-float-content .tip-success .error{ float:left; margin-right:10px; width:40px; height:40px; background-position:-100px 0;}
.pop-win .pop-inner .add-float-content .tip-success span{ display:block; margin-top:12px; color:#333; font-size:18px; font-weight:700;}
.pop-win .pop-m a.pop-btn{ display:inline-block; height:23px; line-height:23px; background-position:right -156px; text-decoration:none; cursor:pointer;}
.pop-win .pop-m .pop-btn-s{ margin-top:10px; text-align:center;}
.pop-win .pop-m a.pop-btn span{display:inline-block; padding:0 12px 0 16px;height:23px; background-position:left -179px;}

/*绑定设置*/
#bound h3, #unbound h3{ padding-bottom:20px; border-bottom:1px #DEEFFB solid; font-size:14px;}
#bound h3 span{ margin-left:20px; color:#666; font-size:12px; font-weight:normal;}
#bound h3 span em{color:#ffaaaa; font-weight:normal;}
#bound .main, #unbound .main{ overflow:hidden; padding:30px; _zoom:1;}
.con-l{ float:left; margin-right:30px; width:330px; background:url(bgimg/bg_line.png) right no-repeat;}
.con-l .set-sle{ overflow:hidden; margin-top:20px; _zoom:1;}
.con-l .set-sle .choice{ float:left; padding-bottom:15px; width:100px; }
.con-l .save-set1{ padding-top:15px;}
.con-l p{ margin:20px 0;}
.con-l p a{ margin-left:15px;}
.official h4, .active h4{ margin-bottom:8px; font-size:12px;}
.official{ margin-bottom:20px;}
.official, .active{ overflow:hidden; _zoom:1;}
/*未绑定设置*/
#unbound .con-l .binding{ padding:40px 0 0 40px; height:80px;}
#unbound .con-r h4{ padding:14px 0; font-size:14px;}
#unbound .con-r p{ margin-left:390px;line-height:30px;}
#unbound .active-s1 h4{ margin-bottom:10px; padding-bottom:5px; border-bottom:1px #DEEFFB solid; font-size:12px; font-weight:normal;}

/*关注头像*/
.users{ float:left; margin-right:40px;}
.users p{ margin:4px 0 10px 0;}
.users a{ float:left; margin-right:10px;}
.users img{ padding:1px; border: #c1c9cf 1px solid; }
.user-info{ margin-left:70px;}


