@charset "utf-8";
/*
	文档作用：定义Xweibo在DX 2.0论坛首页的官方帐号样式
*/
/*导入图片*/
.addfollow-btn, .addfollow-btn:hover, .already-addfollow-btn{background:url(bgimg/all_bg.png) no-repeat;}

/*定义div*/
#xwbofficewb{float:left; display:inline-block; margin-right:2px; position:relative;}

#xwbofficewb .userweiboicon{background:url(bgimg/icon_logo.png) no-repeat 0 -1px; padding-left:19px; margin-right:2px;}

/*关注按钮*/
#xwbofficewb .addfollow-btn{position:absolute; right:-60px; top:0;width:58px; background-position:-151px -10px; height:21px; width:58px;  margin-top:-1px;}
#xwbofficewb .addfollow-btn:hover{ background-position:-151px -41px;}